In [29]:
def sum(a,b):
    c=a+b
    return c
sum(3,7)

10

In [9]:
def greet(name):
    print(f"hello {name}")
greet("john")

hello john

In [1]:
def greet(**boobs):#variable parameters
    name=boobs.get("name","world")
    age=boobs.get("age",30)
    print(f"hello {name}, youre {age}")
greet(name="john")

hello john, youre 30

In [ ]:
name=input("enter your name:")
print("hi babe,"name)

In [3]:
name=input("enter your name:")
print(f"hi babe,{name}")
#{} is a placeholder
#modifier: :.2f so {var:.2f}
txt=f"the price is {20*59}"
print(txt)

enter your name: babygworl

hi babe,babygworl
the price is 1180

In [7]:
x=9
print(f"the price is {x:.2f}")

the price is 9.00

In [13]:
print("he is \"jhonny\"")#one before and one after.

he is "jhonny"

In [33]:
"hiMyNmae#$@".casefold()#used to undo title() and capitalize mostly() but can do lower also

'himynmae#$@'

In [31]:
"hiMyNmae@&$".lower()

'himynmae@&$'

In [1]:
#program to display table of 5 and 6
for i in range(5,7):
    for j in range(1,11):
        print(f"{i} * {j} = {i*j}")
    print(" ")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [3]:
def greet(name='abc',age=90):
    print(f"hello {name}, youre {age}")
greet()

hello abc, youre 90

In [5]:
x=lambda a: a+10
y=lambda b: b*2
res=y(x(5))
print(res)

30