In [1]:
thistuple=("hi","bye","wassap")
thistuple

('hi', 'bye', 'wassap')

In [3]:
thistuple=tuple(("hi" "bye" "woah"))
print(type(thistuple))

<class 'tuple'>

In [5]:
thistuple=tuple(("hi""bye""woah"))
print(type(thistuple))

<class 'tuple'>

In [9]:
mylist=list(("hello""bye"))
print(mylist)

['h', 'e', 'l', 'l', 'o', 'b', 'y', 'e']

In [13]:
x=("apple","kiwi","cherry")
y=list(x)
y[1]="strawberry"
x=tuple(y)
print(x)

('apple', 'strawberry', 'cherry')

In [15]:
x=("hey",4,(4,6),"bye")
print(x)

('hey', 4, (4, 6), 'bye')

In [23]:
x=("apple","banana","cherry")
y=list(x)
y.insert(2,"kiwi")
x=tuple(y)
print(x)

('apple', 'banana', 'kiwi', 'cherry')

In [27]:
#you can either append an element to the tuple after converting it to a list or add 2 tuples
x=("hi","bye")
y=("orrange",)
x+=y
print(x)
#to remove an element convert to list again
x=("apple","banana","cherry")
y=list(x)
y.remove("apple")
x=tuple(y)
print(x)

('hi', 'bye', 'orrange')
('banana', 'cherry')

In [29]:
#pack
x=("apple","orange")
x

('apple', 'orange')

In [31]:
#unpack
x=("apple","banana","cherry")
(a,b,c)=x
print(a)

apple

In [35]:
#unpack
x=("apple","banana","cherry")
a,b,c=x
print(c)

cherry

In [41]:
#*(pointer basically) so many variables 1 var
x=("apple","banana","cherry","orange")
(a,b,*c)=x
print(a)
print(b)
print(c)
print(" ")
x=("apple","banana","cherry","orange")
(a,*b,c)=x
print(a)
print(b)
print(c)

apple
banana
['cherry', 'orange']

apple
['banana', 'cherry']
orange

In [45]:
thistuple=("apple","banana","cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [47]:
#multiply
thistuple=("apple","banana","cherry")
mytuple=thistuple*4
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [55]:
myset={"apple","banana","cherry"}
if "apple" in myset:
    print("fr")

fr

In [57]:
myset={"apple","banana","cherry"}
myset.update("burrr") 
#adds string as set to the set
print(myset)

{'u', 'cherry', 'r', 'apple', 'b', 'banana'}

In [59]:
myset={"apple","banana","cherry"}
#basically append only
myset.add("burrr") 
print(myset)

{'apple', 'banana', 'cherry', 'burrr'}

In [61]:
myset={"apple","banana","cherry"}
myset.remove("cherry") 
print(myset)

{'apple', 'banana'}

In [63]:
myset={"apple","banana","cherry"}
myset.discard("cherry") 
print(myset)

{'apple', 'banana'}

In [7]:
myset={"apple","banana","cherry"}
#pops any value
myset.pop()
print(myset)

{'cherry', 'banana'}

In [ ]:
#clear but empty set is there, del whole set deleted del thisset
#union and update discard duplicate values

In [1]:
tuple1=tuple(("hi",34,"yo",34,43))
s=set((tuple1))
print(s)

{'hi', 34, 43, 'yo'}